.form-container {
    width: 80%;
    margin: auto;
    background-color: black;
    border: 2px solid orange;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

label {
    display: block;
    margin-bottom: 10px;
    color: orange;
  }

select {
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: black;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}
textarea, .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: black;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
  }
  .register-form-heading{
    background-color:orange ;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    margin:auto;
    margin-top: 10px;
}


  .form-button {
    background-color: orange;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    /* Medium devices (768px and up) */
    .form-container {
      width: 50%;
    }
    .register-form-heading{
        width: 50%;
    }
  }